@font-face {
    font-family: 'JetBrainsMono';
    src: url('fonts/JetBrainsMono-Bold.woff2') format('woff2');
}
body{
    background-color: #1F213D;
}
.container-profile{
    border-style: solid;
    border-color: #4A8198;
    background-color: #1E203A;
    border-radius: 20px;
    border-width: 1px;
    position:  absolute;
    height: 300px;
    width: 1000px;
    left: 50%;
    top: 100px;
    transform: translate(-50%, 0);
}
.container-inventory{    
    border-style: solid;
    border-color: #4A8198;
    background-color: #1E203A;
    border-radius: 20px;
    border-width: 1px;
    position:  absolute;
    min-height: 100px;
    height: auto;
    width: 1000px;
    left: 50%;
    top: 420px;
    transform: translate(-50%, 0);
}
.container-skins{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    margin: 20px auto 20px auto;
    width: 965px;
    position: relative;
}
.container-sk{
    height: 140px;
    width:175px;
    border-style: solid;
    border-color: #4A8198;
    background-color: #1E203A;
    border-radius: 20px;
    border-width: 1px;
    position:relative;
   
}
.prof-img{
    border-style: solid;
    border-color: #4A8198;
    border-radius: 20px;
    border-width: 1px;
    position: absolute;
    height: 240px;
    width: 240px;
    left: 30px;
    top: 50%;
    transform: translate(0, -50%);
    object-fit: contain;
    object-position: center;
    src: url('img/profile.png');
}
.name{
    position: relative;
    left: 300px;
    top: 40px;
}
.money-bye{
    position: relative;
    left: 315px;
    top: 55px;
}
.case-amount{
    position: relative;
    left: 315px;
    top: 65px;
    
}
.skin-bye{
    position: relative;
    left: 315px;
    top: 75px;
}
.skin-img{
    border-radius:10px;
    position: absolute;
    height: 75px;
    width: 125px;
    left: 50%;
    top: 10px;
    transform: translate(-50%,0);
    object-fit: contain;
    object-position: center;
}
.sell{
    position: absolute;
    height: 25px;
    width: 25px;
    left: 10px;
    bottom: 25px;   
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
.sell img{
    height:25px;
    width: auto;
}
.skin-name{
    left: 50px;
    bottom: 10px;
    position: absolute;
    max-width: 125px;
    max-height: 15px;
    font-size: 12px;
}
.skin-price{
    left: 50px;
    bottom: 25px;
    position: absolute;
    max-width: 125px;
    max-height: 15px;
    font-size: 12px;
}
.Classified{
    background: #d32ce6;
}
.Covert{
    background: #eb4b4b;
}
.Restricted{
    background: #8847ff;
}
.Mil-spec{
    background: #4b69cd;
}
.Industrial{
    background: #6496e1;
}
.Consumer{
    background: #afafaf;
}
.Extraordinary{
    background: #f0b23f;
}