body {
    margin: 0;
    background: #1F213D;
    color: #B0D9E0;
    font-family:Arial, Helvetica, sans-serif;
}
.hat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #616486;
}
.logo img{
    height: 45px;
}
.menu button {
    margin: 0 5px;
    padding: 6px 14px;
    border-radius: 10px;
    border: 2px solid #4A8198;
    color: #B0D9E0;
    background: #616486;
    cursor: pointer;
}
.user {
    display: flex;
    align-items: center;
    gap: 10px;
}
.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.container {
    padding: 20px 40px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.table {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
}
.case-card {
    width: 220px;
    padding: 10px;
    color: #B0D9E0;
    background: #010427;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
}
.case-card:hover {
    transform: translateY(-5px);
    transition: 0.2s;
}
.case-img {
    height: 220px;
    background: #686977;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
}
.case-img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.skin-preview{
    margin-top: 30px;
    display: flex;
    gap: 15px;
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: center;
    background: #343653;
    
}
.open-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.open-button:disabled {
  cursor: not-allowed;
}

.open-button img {
  width: 220px;
  height: auto;
  display: block;
}
.skin-card{
    width: 220px;
    padding: 10px;
    margin: 15px 5px;
    background: #eeeeee;
    border-radius: 8px;
    text-align: center;
    font-size: 12px;
}
.skin-card img{
    max-width: 100%;
    max-height: 120px;
}
.roulette-wrapper {
  width: 800px;
  height: 130px;
  overflow: hidden;
  margin: 40px auto;
  border: 2px solid #4A8198;
  border-radius: 10px;
  position: relative;
}

.roulette-line {
  position: absolute;
  left: 50%;
  width: 4px;
  height: 130px;
  background: linear-gradient(to bottom, #B0D9E0 0%, transparent 30%, transparent 70%, #B0D9E0 100%);
  z-index: 1;
}

.roulette {
  display: flex;
  transition: transform 5s cubic-bezier(0.1, 0.7, 0.1, 1);
}
.roulette-skin-card {
  width: 160px;
  height: 100px;
  margin: 15px 5px;
  background: #eeeeee;
  border-radius: 8px;
  text-align: center;
  font-size: 12px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.roulette-skin-card img{
    max-width: 100%;
    max-height: 120px;
}
.Classified{
    background: #d32ce6;
}
.Covert{
    background: #eb4b4b;
}
.Restricted{
    background: #8847ff;
}
.Mil-spec{
    background: #4b69cd;
}
.Industrial{
    background: #6496e1;
}
.Consumer{
    background: #afafaf;
}
.Extraordinary{
    background: #f0b23f;
}